.toggle-element-aboutUs {
  width: 100%;
  color: white;
  max-height: 100%;
  overflow-y: auto;
}

.toggle-tool-group-aboutUs {
  padding: 30px;
}

.header-form-aboutUs {
  display: flex;
  align-items: center;
  font-weight: 800;
  cursor: pointer;
}

.header-form-aboutUs span {
  flex-grow: 1;
}

.header-form-aboutUs svg {
  width: 24px;
  height: 24px;
  transition: transform 0.65s;
}

.toggle-content-aboutUs {
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.35s ease-out;
}

.toggle-element-aboutUs.active .toggle-content-aboutUs {
  max-height: 3600px;
  transition: max-height 0.55s ease-in;
}

.toggle-element-aboutUs.active header svg {
  transform: rotate(180deg);
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.774))
    drop-shadow(0 0 1px rgba(255, 255, 255, 0.774));
}
