.toggle-element-u1 {
  width: 100%;
  color: white;
  border-radius: 8px;
  max-height: 100%;
  overflow-y: auto;
}

.toggle-tool-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}

.header-form {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}

.header-form span {
  flex-grow: 1;
}

.header-form svg {
  width: 24px;
  height: 24px;
  transition: transform 0.65s;
}

.toggle-content {
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.35s ease-out;
}

.toggle-element-u1.active .toggle-content {
  max-height: 4600px;
  transition: max-height 0.55s ease-in;
}

.toggle-element-u1.active header svg {
  transform: rotate(180deg);
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.774))
    drop-shadow(0 0 1px rgba(255, 255, 255, 0.774));
}
